@font-face {
  font-family: OpenSans;
  font-display: swap;
  font-weight: 300;
  src: url("../fonts/TTNorms-Light.woff2") format('woff2');
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/TTNorms-Regular.woff2") format('woff2');
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  font-weight: 500;
  src: url("../fonts/TTNorms-Medium.woff2") format('woff2');
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  font-weight: 700;
  src: url("../fonts/TTNorms-Bold.woff2") format('woff2');
}


.container {
  width: 1320px;
  margin-left: auto;
  margin-right: auto;
  @include media-tablet {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  @include media-mobile {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

body {
  font-family: OpenSans, sans-serif;
}

.text--white {
  color: #ffffff;
}


.heading {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  @media (max-width: 1200px) {
    font-size: 25px;
  }
}

.heading--white {
  color: #ffffff;
}

.heading--purple {
  background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  background-clip: text;
  color: transparent;
}

.gradient-wrapper {
  @include background-right-corner-red;
  border-radius: 0px 0px 12px 12px;
}


.link--white {
  color: #ffffff;
}

.subheading--blue {
  color: #24A3FF;
}

.top-link--blue {
  color: #24A3FF;
}

.link--blue {
  color: rgba(36, 163, 255, 1);
}

.link--dark-blue {
  color: #323264;
}

.top-link--grey {
  color: #FFFFFF;
  opacity: 0.5;
}

.languages__link {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.2;
}

.top-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}

.paragraph {
  font-size: 21px;
  font-weight: 400;
  line-height: 1.4;
  @media (max-width: 1200px) {
    font-size: 16px;
  }
}

.paragraph--white {
  color: #FFFFFF;
}

.text--grey {
  color: #B3B3BA;
}

.text--purple {
  background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  background-clip: text;
  color: transparent;
}

.text--blue {
  color: rgba(36, 163, 255, 1);

}

.heading--grey {
  color: #B3B3BA;
}

.heading:active {
  background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  background-clip: text;
  color: transparent;
}

.subheading--blue {
  color: #24A3FF;
}

.paragraph--blue {
  color: #24A3FF;
}


.title {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  color: #323264;
  text-transform: uppercase;
}

.title--center {
  text-align: center;
}

.heading--center {
  text-align: center;
}


.gray-blue-text-color {
  color: rgba(50, 50, 100, 1);
}

.header__logo-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.slash-icon {
  @include media-tablet {
    width: 20px;
  }
}

.p-icon {
  @include media-tablet {
    width:30px;
  }
}











