.header {
  padding-top: 60px;
  padding-bottom: 120px;
  @include media-mobile {
    padding-bottom: 60px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  @include media-mobile {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.header__logo {
  @include media-tablet {
    width: 150px;
  }
  @include media-mobile {
    width: 95%;
  }
}


.logo__image {
  width: 100%;
  @include media-tablet {
    width: 90%;
  }
  @include media-mobile {
    width: 40%;
  }
}


.header__slash-logo {
  @include media-tablet {
    width: 90%;
  }
}

.header__p-logo {
  @include media-tablet {
    width: 90%;
  }
}

.logo__text {
  font-size: 38px;
  font-weight: 400;
  line-height: 1.2;
  color: #323264;
}

.languages__wrapper {
  @include flex-center;
  @include media-tablet {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.languages {
  @include flex-center;
  gap: 15px;
}

.header__navmenu-wrapper {
  margin-top: 20px;
  @include media-tablet {
    width: 80%;
  }
}

.header__list {
  display: flex;
  gap: 15px;
  align-items: flex-end;
  justify-content: flex-end;
  @include media-tablet {
    width: 100%;
  }
  @include media-mobile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
}

.header__link {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  @include media-mobile {
    font-size: 14px;
  }
}
