.team {
  padding-top: 60px;
  padding-bottom: 80px;
}

.team__gallery-wrapper {
  display: flex;
  gap: 40px;
  background-color: #F5F5FA;
  border-radius: 12px;
}

.team__text-wrapper {
  margin-top: 40px;
}

.team__top-link {
  margin-bottom: 20px;
}


.team__heading{
  margin-bottom: 20px;
}
