.services {
  padding-top: 40px;
  padding-bottom: 80px;
}

.services__list {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.services__item {
  width: 400px;
}

.services__text {
  width: 100%;
}

.services__icon {
  margin-bottom: 20px;
}

.services__subheading {
  margin-bottom: 15px;
}
