.team {
  padding-top: 60px;
  padding-bottom: 80px;
}

.team__gallery-wrapper {
  display: flex;
  gap: 40px;
  background-color: #F5F5FA;
  border-radius: 12px;
  @include media-mobile {
    display: flex;
    flex-direction: column;
  }
}

.team__text-wrapper {
  margin-top: 40px;
  @include media-mobile {
    width: 90%;
  }
}

.team__top-link {
  margin-bottom: 20px;
}


.team__heading {
  margin-bottom: 20px;
}
