.hero-wrapper {
  @include background-right-corner-red ;
}


.hero__text-container {
  padding-top: 120px;
  padding-bottom: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/hero/Frame1.svg"), url("../images/hero/hero__bg__p-letter.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: left 400px top 10px, left 400px top 80px;
}

.hero__heading {
  font-size: 38px;
  font-weight: 700;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
