.partners {
  padding-top: 15px;
  padding-bottom: 20px;
}




.partners__title {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners__image {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

}

.partners__picture {
  width: 330px;
  @include media-tablet {
    width: 40%;
  }
  @include media-mobile {
    width: 48%;
  }
}
