.partners {
  padding-top: 15px;
  padding-bottom: 20px;
}

.partners__container {
  display: flex;
  flex-wrap: wrap;
}

.partners__title {
  margin-bottom: 30px;
}

.partners__image {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

}

.partners__picture {
  width: 330px;
  @include media-tablet {
    width: 40%;
  }
  @include media-mobile {
    width: 48%;
  }
}
