.partners {
  padding-top: 15px;
  padding-bottom: 20px;
}

.partners__title {
  margin-bottom: 30px;
}

.partners__image {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.partners__picture {
  width: 330px;
}
