.hero-wrapper {
  @include background-right-corner-red ;
  @include media-mobile {
    width: 100%;
  }
}


.hero__text-container {
  padding-top: 120px;
  padding-bottom: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/hero/Frame1.svg"), url("../images/hero/hero__bg__p-letter.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: left 400px top 10px, left 400px top 80px;
  @include media-tablet {
    padding-top: 80px;
    padding-bottom: 150px;
    background-position: left 80px top -10px, left 80px top 20px;
  }
  @include media-mobile {
    background-position: left -150px top -10px, left -150px top 20px;
  }
}

.hero__heading {
  font-size: 38px;
  font-weight: 700;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
