.publications {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #F5F5FA;
  @include media-mobile {
    width: 95%;
  }
}

.publications__top-link {
  margin-bottom: 15px;
}


.publications__heading {
  margin-bottom: 10px;
}

.publications__list {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.publications__item {
  width: 400px;
  background: #FFFFFF;
  border-radius: 8px;
  padding: 20px;
  @include media-tablet {
    width: 46%;
  }
  @include media-mobile {
    width: 100%;
  }
}


.publications__image {
  width: 100%;
  margin-bottom: 20px;
}

.publications__date {
  padding-bottom: 20px;
  border-bottom: 4px solid #E6E6F0;
}

.publications__text {
  padding-top: 20px;
}
