
.about-team {
  @include media-mobile {
    width: 100%;
  }
}

.about-team__image {
  background-image: url("../images/about-team/about-team.png"), linear-gradient(264.71deg, #F01432 0%, #323264 29.69%);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 165px;
  padding-bottom: 165px;
  @include media-tablet {
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
  }
  @include media-mobile {
    width: 100%;
  }
}

.about-team__heading {
  font-size: 96px;
  font-weight: 700;
  line-height: 1.2;
  color: #FFFFFF;
  letter-spacing: 63px;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.8;
  text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);
  @include media-tablet {
    font-size: 60px;
    letter-spacing: 30px;
  }
  @include media-mobile {
    font-size: 36px;
    letter-spacing: 15px;
    width: 100%;
  }
}

.about-team__container {
  padding-top: 80px;
  padding-bottom: 95px;
  display: flex;
  gap: 40px;
  @include media-mobile {
    display: flex;
    flex-direction: column;
  }
}

.about-team__paragraph {
  width: 650px;
  @include media-mobile {
    width: 100%;
  }
}

.about-team__motto {
  width: 420px;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  @include media-mobile {
    width: 100%;
    font-size: 32px;
  }
}
